::-webkit-scrollbar { display: none; }

html {
    width : 100%;
    height: 100%;
    margin: 0;
    color: #515151;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem 0rem;
}

div.apibox {
    overflow-y: auto;
    position: relative;
    margin: 7rem auto;
    border-radius: 1.5rem;
    box-shadow: 0rem 0rem 2rem 0rem #dddddd;
    width: 80%;
    height: 60vh;
    overflow: auto;
    padding: 3rem 1.5rem;
}

div.apibox > div {
    width: 100%;
    height: 100%;
}

div.apibox > div:first-child {
    width: 100%;
    margin-bottom: 8rem;
}

div.apibox > div:last-child {
}

div.apibox > div > div.header {
    height: 2rem;
    margin-bottom: 4rem;
}

div.apibox > div > div.header > h2.header_txt {
    display: inline;
    font-size: 1.5rem;
    font-family: 'NS EB';
    font-weight: bold;
    position: relative;
    top: -0.5rem;
}

div.apibox > div > div.header > img.header_img {
    display: inline;
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}

img#legacy {
    filter: drop-shadow(0rem 0rem 0.5rem #00ffc860);
}

img#api2 {
    filter: drop-shadow(0rem 0rem 0.5rem #ff7d3660);
}

div.apibox > div > div.con > div {
    margin-bottom: 3rem;
}

div.apibox > div > div.con > div > div.header > h4.header_txt {
    display: inline;
    font-size: 1.2rem;
    font-family: 'NS L';
    position: relative;
    top: -0.4rem;
}

h4[data-not = "true"] {
    text-decoration-line: line-through;
}

div.apibox > div > div.con > div > div.header > img.header_img {
    display: inline;
    width: 1.5rem;
    height: auto;
    margin-right: 0.8rem;
}

img#obj {
    filter: drop-shadow(0rem 0rem 0.8rem #ff9100a8);
}

img#event {
    filter: drop-shadow(0rem 0rem 0.8rem #8400ffa8);
}

img#event_lis {
    filter: drop-shadow(0rem 0rem 0.8rem #00bbffa8);
}

div.apibox > div > div.con > div {
    text-align: center;
}

div.apibox > div > div.con > div > div.con {
    margin: 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

div.apibox > div > div.con > div > div.con > h4.con_txt {
    font-family: 'NS EB';
    font-size: 1rem;
    cursor: pointer;
}